.auth{
    position: absolute; 
    width: 200px;
    height: 300px;
    border: 2px #e0e0e0 solid;
    border-radius: 8px;
    background-color: #282828;
    
}

.text{
    margin-top: 45px;
    margin-left: 30px;
    color: white;
    font-size: 22px;

}

.input-field{
    background-color: #f0f0f0; 
    color: #333333; 
    border: 1px solid #cccccc; 
    border-radius: 5px;
    padding: 8px;
    margin: 20px 20px;
    width: 70%;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1); /* М'яка тінь */
}

.input-field:focus {
    border-color: #007bff; 
    outline: none;
    background-color: #ffffff; 
}

.close{
    color: white;
    position: absolute;
    top: 7px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
}